Repository oasis-tcs/csaf, pull requests merged in 2020-07, with the labels that each got.

#94 Update of TC admin contact info
  README.md
Labels: bug, documentation

#88 Aggregate severity artifacts
  csaf_2.0/json_schema/csaf_json_schema.json
Labels: csaf 2.0

#82 Prohibit empty arrays
  csaf_2.0/json_schema/csaf_json_schema.json
Labels: csaf 2.0

#78 New Product_status: under_investigation
  csaf_2.0/json_schema/csaf_json_schema.json
Labels: csaf 2.0

#100 Corrected scores sub schema, added cpe pattern, introduced canonical formatting via jq
  csaf_2.0/json_schema/csaf_json_schema.json
Labels: bug, csaf 2.0, enhancement

#86 Prohibit empty strings
  csaf_2.0/json_schema/csaf_json_schema.json
Labels: csaf 2.0

#73 Remove system_name
  csaf_2.0/json_schema/csaf_json_schema.json
Labels: csaf 2.0

#76 Product_status artifacts
  csaf_2.0/json_schema/csaf_json_schema.json
Labels: csaf 2.0
