Repository oasis-tcs/csaf, pull requests merged in 2020-06, with the labels that each got.

#44 Reference artifacts
  csaf_2.0/json_schema/csaf_json_schema.json
Labels: csaf 2.0

#46 Version type
  csaf_2.0/json_schema/csaf_json_schema.json
Labels: csaf 2.0

#48 Remediation artifacts
  csaf_2.0/json_schema/csaf_json_schema.json
Labels: csaf 2.0

#60 Small schema fixes regarding enums
  csaf_2.0/json_schema/csaf_json_schema.json
Labels: csaf 2.0

#59 Add automated tests to repository
  .github/actions/json-test/Dockerfile
  .github/actions/json-test/action.yml
  .github/actions/json-test/entrypoint.sh
  .github/workflows/main.yml
  csaf_2.0/test/generate_strict_schema.py
  csaf_2.0/test/run_tests.sh
  csaf_2.0/test/validator.py
Labels: enhancement

#35 Restart required
  csaf_2.0/json_schema/csaf_json_schema.json
Labels: csaf 2.0

#40 Integration of Traffic Light Protocol (TLP)
  csaf_2.0/json_schema/csaf_json_schema.json
Labels: csaf 2.0

#39 Fixes for example files
  csaf_2.0/examples/CVE-2018-0171-modified.json
  csaf_2.0/examples/cvrf-rhba-2018-0489-modified.json
Labels: csaf 2.0

#52 Product branch artifacts
  csaf_2.0/json_schema/csaf_json_schema.json
Labels: csaf 2.0

#56 Product_id type
  csaf_2.0/json_schema/csaf_json_schema.json
Labels: csaf 2.0

#63 CSAF_version artifact
  csaf_2.0/examples/CVE-2018-0171-modified.json
  csaf_2.0/examples/cvrf-rhba-2018-0489-modified.json
  csaf_2.0/json_schema/csaf_json_schema.json
Labels: csaf 2.0

#65 CSAF $id property
  csaf_2.0/json_schema/csaf_json_schema.json
Labels: csaf 2.0

#67 Language type
  csaf_2.0/json_schema/csaf_json_schema.json
Labels: csaf 2.0

#58 Group_id and groups type
  csaf_2.0/json_schema/csaf_json_schema.json
Labels: csaf 2.0

#62 Product_group artifacts
  csaf_2.0/json_schema/csaf_json_schema.json
Labels: csaf 2.0

#69 Example fixes
  csaf_2.0/examples/CVE-2018-0171-modified.json
  csaf_2.0/examples/cvrf-rhba-2018-0489-modified.json
  cvrf_1.2/examples/cisco-sa-20180328-smi2_cvrf.xml
  cvrf_1.2/examples/cvrf-rhba-2018-0489.xml
Labels: csaf 2.0, enhancement

#70 TLP
  csaf_2.0/json_schema/csaf_json_schema.json
Labels: csaf 2.0
