Repository oasis-tcs/csaf, pull requests merged in 2021-02, with the labels that each got.

#177 CPE Regex
  csaf_2.0/json_schema/csaf_json_schema.json
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0

#179 Replace CVRF mentions in examples
  csaf_2.0/json_schema/csaf_json_schema.json
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, editorial

#181 Strict schema generation and tests
  csaf_2.0/examples/cvrf-rhba-2018-0489-modified.json
  csaf_2.0/test/generate_strict_schema.py
Labels: bug, csaf 2.0

#182 Updated three dates [editorial]
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, documentation, editorial

#176 Relationship artifacts (2)
  csaf_2.0/json_schema/csaf_json_schema.json
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, editorial
