Repository oasis-tcs/csaf, pull requests merged in 2021-03, with the labels that each got.

#190 Unique product ids
  csaf_2.0/json_schema/csaf_json_schema.json
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0

#194 Alphabetical order
  csaf_2.0/json_schema/csaf_json_schema.json
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, editorial

#184 Product identification helper
  csaf_2.0/json_schema/csaf_json_schema.json
Labels: csaf 2.0

#196 Revert "Product identification helper"
  csaf_2.0/json_schema/csaf_json_schema.json
Labels: bug, csaf 2.0

#197 Product identification helper
  csaf_2.0/json_schema/csaf_json_schema.json
Labels: csaf 2.0

#199 Editor revision 2021 03 23
  csaf_2.0/json_schema/csaf_json_schema.json
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, editorial, enhancement
