Repository oasis-tcs/csaf, pull requests merged in 2021-06, with the labels that each got.

#266 Suggestion for Definition of Product Status
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, enhancement, tc-discussion-needed

#273 Engine version
  csaf_2.0/examples/CVE-2018-0171-modified.json
  csaf_2.0/examples/cvrf-rhba-2018-0489-modified.json
  csaf_2.0/json_schema/csaf_json_schema.json
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, enhancement

#268 Product numbers
  csaf_2.0/json_schema/csaf_json_schema.json
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, enhancement

#280 SBOM specification references added
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, documentation, editorial

#269 Distributing CSAF documents
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, documentation, enhancement, tc-discussion-needed

#274 Publisher namespace
  csaf_2.0/examples/CVE-2018-0171-modified.json
  csaf_2.0/examples/cvrf-rhba-2018-0489-modified.json
  csaf_2.0/json_schema/csaf_json_schema.json
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, enhancement
