Repository oasis-tcs/csaf, pull requests merged in 2021-05, with the labels that each got.

#240 Versioning (into schema & examples)
  csaf_2.0/examples/CVE-2018-0171-modified.json
  csaf_2.0/json_schema/csaf_json_schema.json
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, documentation, enhancement

#242 Versioning
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, documentation, editorial

#246 JSON schema namespace in HTTPS
  csaf_2.0/json_schema/csaf_json_schema.json
Labels: csaf 2.0

#249 Editor revision 2021 05 21
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, editorial

#250 Versioning
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, documentation

#251 Tests
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, documentation

#257 Editor revision 2021 05 21 - several updates
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, editorial

#258 Conformance targets "Validators"
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, enhancement

#259 Correction of roster and typos
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, documentation

#254 Distributing
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, documentation

#261 Editor revision 2021 05 21
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, editorial

#255 Clarification of involvements
  csaf_2.0/json_schema/csaf_json_schema.json
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, documentation

#252 SBOM
  csaf_2.0/json_schema/csaf_json_schema.json
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, enhancement

#270 Vendor and product definitions
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, documentation
