Repository oasis-tcs/csaf, pull requests merged in 2021-07, with the labels that each got.

#276 Profiles
  csaf_2.0/examples/cvrf-rhba-2018-0489-modified.json
  csaf_2.0/json_schema/csaf_json_schema.json
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, enhancement

#256 Add soft limits as appendix C
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, enhancement

#278 Sanitizing HTML
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, documentation

#281 Tests
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, documentation, enhancement

#282 Tests
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, documentation

#283 Publisher namespace
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, editorial

#288 Additional conventions
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, documentation, enhancement

#284 Editorial nits
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, documentation, editorial, enhancement

#286 Tests
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, documentation

#287 Distributing
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, documentation

#293 Editorial changes
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, editorial

#297 JSON Schema 2020-12 (update prose)
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, editorial

#296 Alternative to JSON Schema 2020-12 #294
  .github/actions/json-test/Dockerfile
  csaf_2.0/json_schema/csaf_json_schema.json
  csaf_2.0/prose/csaf-v2-editor-draft.md
  csaf_2.0/test/validator.py
Labels: csaf 2.0, enhancement

#302 Sort enum values
  csaf_2.0/json_schema/csaf_json_schema.json
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, documentation, editorial, enhancement

#300 Sort examples
  csaf_2.0/json_schema/csaf_json_schema.json
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, editorial, enhancement

#305 Enumerate examples in prose
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, documentation, editorial, enhancement

#290 Provider metadata
  csaf_2.0/examples/ROLIE/example-01-feed-tlp-white.json
  csaf_2.0/examples/aggregator/example-01-aggregator.json
  csaf_2.0/examples/provider-metadata/example-01-provider-metadata.json
  csaf_2.0/json_schema/aggregator_json_schema.json
  csaf_2.0/json_schema/provider_json_schema.json
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, email, enhancement

#307 Tests
  .github/actions/json-test/entrypoint.sh
  csaf_2.0/examples/csaf/CVE-2018-0171-modified.json
  csaf_2.0/examples/csaf/cvrf-rhba-2018-0489-modified.json
  csaf_2.0/prose/csaf-v2-editor-draft.md
  csaf_2.0/test/csaf_schema/run_tests.sh
  csaf_2.0/test/csaf_schema/validator.py
  csaf_2.0/test/validator/data/OASIS_CSAF_TC-CSAF_2_0-2021-TEMPLATE.json
  csaf_2.0/test/validator/data/mandatory/OASIS_CSAF_TC-CSAF_2_0-2021-6-1-01-01.json
  csaf_2.0/test/validator/data/mandatory/OASIS_CSAF_TC-CSAF_2_0-2021-6-1-02-01.json
  csaf_2.0/test/validator/data/mandatory/OASIS_CSAF_TC-CSAF_2_0-2021-6-1-03-01.json
  csaf_2.0/test/validator/data/mandatory/OASIS_CSAF_TC-CSAF_2_0-2021-6-1-04-01.json
  csaf_2.0/test/validator/data/mandatory/OASIS_CSAF_TC-CSAF_2_0-2021-6-1-05-01.json
  csaf_2.0/test/validator/data/mandatory/OASIS_CSAF_TC-CSAF_2_0-2021-6-1-06-01.json
  csaf_2.0/test/validator/data/mandatory/OASIS_CSAF_TC-CSAF_2_0-2021-6-1-07-01.json
  csaf_2.0/test/validator/data/mandatory/OASIS_CSAF_TC-CSAF_2_0-2021-6-1-08-01.json
  csaf_2.0/test/validator/data/mandatory/OASIS_CSAF_TC-CSAF_2_0-2021-6-1-09-01.json
  csaf_2.0/test/validator/data/mandatory/OASIS_CSAF_TC-CSAF_2_0-2021-6-1-10-01.json
  csaf_2.0/test/validator/data/mandatory/OASIS_CSAF_TC-CSAF_2_0-2021-6-1-11-01.json
  csaf_2.0/test/validator/data/mandatory/OASIS_CSAF_TC-CSAF_2_0-2021-6-1-12-01.json
  csaf_2.0/test/validator/data/mandatory/OASIS_CSAF_TC-CSAF_2_0-2021-6-1-13-01.json
  csaf_2.0/test/validator/data/mandatory/OASIS_CSAF_TC-CSAF_2_0-2021-6-1-14-01.json
  csaf_2.0/test/validator/data/mandatory/OASIS_CSAF_TC-CSAF_2_0-2021-6-1-15-01.json
  csaf_2.0/test/validator/data/mandatory/OASIS_CSAF_TC-CSAF_2_0-2021-6-1-16-01.json
  csaf_2.0/test/validator/data/mandatory/OASIS_CSAF_TC-CSAF_2_0-2021-6-1-17-01.json
  csaf_2.0/test/validator/data/mandatory/OASIS_CSAF_TC-CSAF_2_0-2021-6-1-18-01.json
  csaf_2.0/test/validator/data/mandatory/OASIS_CSAF_TC-CSAF_2_0-2021-6-1-19-01.json
  csaf_2.0/test/validator/data/mandatory/OASIS_CSAF_TC-CSAF_2_0-2021-6-1-20-01.json
  csaf_2.0/test/validator/data/mandatory/OASIS_CSAF_TC-CSAF_2_0-2021-6-1-21-01.json
  csaf_2.0/test/validator/data/mandatory/OASIS_CSAF_TC-CSAF_2_0-2021-6-1-22-01.json
  csaf_2.0/test/validator/data/mandatory/OASIS_CSAF_TC-CSAF_2_0-2021-6-1-23-01.json
  csaf_2.0/test/validator/data/mandatory/OASIS_CSAF_TC-CSAF_2_0-2021-6-1-24-01.json
  csaf_2.0/test/validator/data/mandatory/OASIS_CSAF_TC-CSAF_2_0-2021-6-1-25-01.json
  csaf_2.0/test/validator/data/mandatory/OASIS_CSAF_TC-CSAF_2_0-2021-6-1-26-01.json
  csaf_2.0/test/validator/data/mandatory/OASIS_CSAF_TC-CSAF_2_0-2021-6-1-27-01-01.json
  csaf_2.0/test/validator/data/mandatory/OASIS_CSAF_TC-CSAF_2_0-2021-6-1-27-02-01.json
  csaf_2.0/test/validator/data/mandatory/OASIS_CSAF_TC-CSAF_2_0-2021-6-1-27-03-01.json
  csaf_2.0/test/validator/data/mandatory/OASIS_CSAF_TC-CSAF_2_0-2021-6-1-27-04-01.json
  csaf_2.0/test/validator/data/mandatory/OASIS_CSAF_TC-CSAF_2_0-2021-6-1-27-05-01.json
  csaf_2.0/test/validator/data/mandatory/OASIS_CSAF_TC-CSAF_2_0-2021-6-1-27-06-01.json
  csaf_2.0/test/validator/data/mandatory/OASIS_CSAF_TC-CSAF_2_0-2021-6-1-27-07-01.json
  csaf_2.0/test/validator/data/mandatory/OASIS_CSAF_TC-CSAF_2_0-2021-6-1-27-08-01.json
  csaf_2.0/test/validator/data/mandatory/OASIS_CSAF_TC-CSAF_2_0-2021-6-1-27-09-01.json
  csaf_2.0/test/validator/data/mandatory/OASIS_CSAF_TC-CSAF_2_0-2021-6-1-27-10-01.json
Labels: csaf 2.0, documentation

#299 Language type
  csaf_2.0/json_schema/csaf_json_schema.json
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, documentation

#311 CSAF
  csaf_2.0/json_schema/csaf_json_schema.json
Labels: bug, csaf 2.0

#310 Provider metadata
  csaf_2.0/json_schema/provider_json_schema.json
Labels: bug, csaf 2.0

#312 Namespace upgrade
  csaf_2.0/json_schema/aggregator_json_schema.json
  csaf_2.0/json_schema/csaf_json_schema.json
  csaf_2.0/json_schema/provider_json_schema.json
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, documentation, editorial, enhancement

#316 Test other schemas
  .github/actions/json-test/entrypoint.sh
  .gitignore
  csaf_2.0/test/aggregator_schema/run_tests.sh
  csaf_2.0/test/csaf_schema/run_tests.sh
  csaf_2.0/test/csaf_schema/validator.py
  csaf_2.0/test/provider_schema/run_tests.sh
  csaf_2.0/test/validator.py
Labels: csaf 2.0, enhancement, test

#323 Editorial changes
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, editorial

#320 Tests
  csaf_2.0/prose/csaf-v2-editor-draft.md
  csaf_2.0/test/validator/data/informative/OASIS_CSAF_TC-CSAF_2_0-2021-6-3-01-01.json
  csaf_2.0/test/validator/data/informative/OASIS_CSAF_TC-CSAF_2_0-2021-6-3-02-01.json
  csaf_2.0/test/validator/data/informative/OASIS_CSAF_TC-CSAF_2_0-2021-6-3-03-01.json
  csaf_2.0/test/validator/data/informative/OASIS_CSAF_TC-CSAF_2_0-2021-6-3-04-01.json
  csaf_2.0/test/validator/data/informative/OASIS_CSAF_TC-CSAF_2_0-2021-6-3-05-01.json
  csaf_2.0/test/validator/data/informative/OASIS_CSAF_TC-CSAF_2_0-2021-6-3-06-01.json
  csaf_2.0/test/validator/data/informative/OASIS_CSAF_TC-CSAF_2_0-2021-6-3-07-01.json
  csaf_2.0/test/validator/data/informative/OASIS_CSAF_TC-CSAF_2_0-2021-6-3-08-01.json
  csaf_2.0/test/validator/data/optional/OASIS_CSAF_TC-CSAF_2_0-2021-6-2-01-01.json
  csaf_2.0/test/validator/data/optional/OASIS_CSAF_TC-CSAF_2_0-2021-6-2-02-01.json
  csaf_2.0/test/validator/data/optional/OASIS_CSAF_TC-CSAF_2_0-2021-6-2-03-01.json
  csaf_2.0/test/validator/data/optional/OASIS_CSAF_TC-CSAF_2_0-2021-6-2-04-01.json
  csaf_2.0/test/validator/data/optional/OASIS_CSAF_TC-CSAF_2_0-2021-6-2-05-01.json
  csaf_2.0/test/validator/data/optional/OASIS_CSAF_TC-CSAF_2_0-2021-6-2-06-01.json
  csaf_2.0/test/validator/data/optional/OASIS_CSAF_TC-CSAF_2_0-2021-6-2-07-01.json
  csaf_2.0/test/validator/data/optional/OASIS_CSAF_TC-CSAF_2_0-2021-6-2-08-01.json
  csaf_2.0/test/validator/data/optional/OASIS_CSAF_TC-CSAF_2_0-2021-6-2-09-01.json
  csaf_2.0/test/validator/data/optional/OASIS_CSAF_TC-CSAF_2_0-2021-6-2-10-01.json
  csaf_2.0/test/validator/data/optional/OASIS_CSAF_TC-CSAF_2_0-2021-6-2-11-01.json
  csaf_2.0/test/validator/data/optional/OASIS_CSAF_TC-CSAF_2_0-2021-6-2-12-01.json
  csaf_2.0/test/validator/data/optional/OASIS_CSAF_TC-CSAF_2_0-2021-6-2-13-01.json
Labels: csaf 2.0, enhancement

#321 Example
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, documentation

#319 Test schemas
  csaf_2.0/examples/aggregator/example-02-aggregator.json
  csaf_2.0/test/aggregator_schema/run_tests.sh
Labels: csaf 2.0, test

#322 Remove todos
  csaf_2.0/json_schema/csaf_json_schema.json
  csaf_2.0/json_schema/provider_json_schema.json
Labels: csaf 2.0, documentation, editorial

#326 [prose] Removed unused conventions and updated to current date
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, documentation, editorial

#324 CPE
  .github/workflows/cpe.yml
  .gitignore
  csaf_2.0/test/cpe/run_tests.sh
  csaf_2.0/test/cpe/test-regex.js
Labels: csaf 2.0, test

#325 Refactor tests
  .github/workflows/main.yml
Labels: csaf 2.0, test

#327 Renumber examples after inserts
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, documentation, editorial, enhancement

#329 Title page nits remediations subsections
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, documentation, editorial, enhancement

#298 PURL
  csaf_2.0/json_schema/csaf_json_schema.json
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, documentation

#315 Rolie examples
  csaf_2.0/examples/ROLIE/example-01-category.json
  csaf_2.0/examples/ROLIE/example-01-feed-tlp-white.json
  csaf_2.0/examples/ROLIE/example-01-service.json
  csaf_2.0/examples/ROLIE/example-02-service.json
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, documentation, editorial
