Repository oasis-tcs/csaf, pull requests merged in 2021-04, with the labels that each got.

#206 Revert disputed changes
  csaf_2.0/json_schema/csaf_json_schema.json
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: bug, editorial

#207 Typos
  csaf_2.0/json_schema/csaf_json_schema.json
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: editorial

#211 Editor revision 2021 03 23 Type Models
  csaf_2.0/json_schema/csaf_json_schema.json
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, documentation, editorial

#222 Improve wording
  csaf_2.0/json_schema/csaf_json_schema.json
Labels: csaf 2.0, editorial

#218 Publisher name
  csaf_2.0/examples/CVE-2018-0171-modified.json
  csaf_2.0/examples/cvrf-rhba-2018-0489-modified.json
  csaf_2.0/json_schema/csaf_json_schema.json
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0

#219 Publisher type: translator
  csaf_2.0/json_schema/csaf_json_schema.json
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0

#205 Editor revision 2021 03 23
  csaf_2.0/examples/CVE-2018-0171-modified.json
  csaf_2.0/examples/cvrf-rhba-2018-0489-modified.json
  csaf_2.0/json_schema/csaf_json_schema.json
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0

#228 Limit acknowledgment organization to a single string value
  csaf_2.0/examples/cvrf-rhba-2018-0489-modified.json
  csaf_2.0/json_schema/csaf_json_schema.json
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, documentation, enhancement

#230 Rename properties "type"
  csaf_2.0/examples/CVE-2018-0171-modified.json
  csaf_2.0/examples/cvrf-rhba-2018-0489-modified.json
  csaf_2.0/json_schema/csaf_json_schema.json
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0

#231 Example consistency
  csaf_2.0/examples/cvrf-rhba-2018-0489-modified.json
Labels: bug, csaf 2.0

#232 Run Actions on PR
  .github/workflows/main.yml
Labels: enhancement

#235 Rename properties "type"
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, editorial

#234 Interim definition
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, documentation

#237 Minor changes
  .github/workflows/main.yml
  csaf_2.0/examples/CVE-2018-0171-modified.json
  csaf_2.0/examples/cvrf-rhba-2018-0489-modified.json
  csaf_2.0/json_schema/csaf_json_schema.json
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: editorial

#233 Versioning rules
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, email, enhancement, tc-discussion-needed

#238 Editor revision 2021 04 26
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, editorial

#236 Tests
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, documentation, tc-discussion-needed

#239 Hashes
  csaf_2.0/json_schema/csaf_json_schema.json
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, documentation, enhancement, tc-discussion-needed
