Repository oasis-tcs/csaf, pull requests merged in 2022-05, with the labels that each got.

#532 RFC 9116
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: documentation, csaf 2.0, non_material

#528 Fix minor typo in csaf-v2-editor-draft.md
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, editorial, non_material

#531 Editor revision 2022 05 14
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, editorial, non_material

#534 Clarify binding
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: documentation, csaf 2.0, non_material

#533 Title of Mandatory Test 6.1.30
  csaf_2.0/prose/csaf-v2-editor-draft.md
  csaf_2.0/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_0-2021-6-1-30-01.json
  csaf_2.0/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_0-2021-6-1-30-11.json
Labels: documentation, csaf 2.0, non_material

#535 Clarify purpose of Group IDs
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: documentation, csaf 2.0, non_material

#536 Clarify purpose of Product IDs
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: documentation, csaf 2.0, non_material

#537 VERS
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: documentation, csaf 2.0, non_material

#539 Clarify aggregator
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: documentation, csaf 2.0

#542 Editorial
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, editorial

#551 Spelling
  csaf_2.0/json_schema/csaf_json_schema.json
Labels: csaf 2.0, editorial

#552 Test 6.1.31
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, non_material

#550 Improve notes_t wording
  csaf_2.0/json_schema/csaf_json_schema.json
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, non_material

#549 Entity to person
  csaf_2.0/json_schema/csaf_json_schema.json
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, non_material

#548 Partial (model|serial) numbers / SKUs
  csaf_2.0/json_schema/csaf_json_schema.json
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, non_material

#540 Clarify remediation categories
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: documentation, csaf 2.0

#543 Editor revision 2022 05 14
  csaf_2.0/json_schema/csaf_json_schema.json
  csaf_2.0/prose/csaf-v2-editor-draft.md
  csaf_2.0/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_0-2021-6-1-30-01.json
  csaf_2.0/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_0-2021-6-1-30-11.json
Labels: csaf 2.0

#553 RFC 9116
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, editorial, non_material

#555 Wording
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, editorial, non_material

#559 Examples
  csaf_2.0/examples/csaf/csaf_vex/sec-vex-2022-0001.json
Labels: examples

#556 VEX Status Justification
  csaf_2.0/prose/csaf-v2-editor-draft.md
Labels: csaf 2.0, editorial, non_material

#557 Meeting minutes
  meeting_minutes/2022-05-18.md
Labels: meeting_minutes
