Repository oasis-tcs/csaf, pull requests merged in 2022-04, with the labels that each got.

#507 Tests
  csaf_2.0/test/validator/data/mandatory/OASIS_CSAF_TC-CSAF_2_0-2021-6-1-07-11.json
  csaf_2.0/test/validator/data/mandatory/OASIS_CSAF_TC-CSAF_2_0-2021-6-1-07-12.json
  csaf_2.0/test/validator/data/mandatory/OASIS_CSAF_TC-CSAF_2_0-2021-6-1-16-11.json
  csaf_2.0/test/validator/data/mandatory/OASIS_CSAF_TC-CSAF_2_0-2021-6-1-16-12.json
  csaf_2.0/test/validator/data/mandatory/OASIS_CSAF_TC-CSAF_2_0-2021-6-1-16-13.json
  csaf_2.0/test/validator/data/mandatory/OASIS_CSAF_TC-CSAF_2_0-2021-6-1-21-02.json
  csaf_2.0/test/validator/data/mandatory/OASIS_CSAF_TC-CSAF_2_0-2021-6-1-21-11.json
  csaf_2.0/test/validator/data/mandatory/OASIS_CSAF_TC-CSAF_2_0-2021-6-1-21-12.json
  csaf_2.0/test/validator/data/mandatory/OASIS_CSAF_TC-CSAF_2_0-2021-6-1-21-13.json
  csaf_2.0/test/validator/data/mandatory/OASIS_CSAF_TC-CSAF_2_0-2021-6-1-28-11.json
  csaf_2.0/test/validator/data/mandatory/OASIS_CSAF_TC-CSAF_2_0-2021-6-1-29-11.json
  csaf_2.0/test/validator/data/mandatory/OASIS_CSAF_TC-CSAF_2_0-2021-6-1-29-12.json
  csaf_2.0/test/validator/data/mandatory/OASIS_CSAF_TC-CSAF_2_0-2021-6-1-30-11.json
  csaf_2.0/test/validator/data/mandatory/OASIS_CSAF_TC-CSAF_2_0-2021-6-1-31-11.json
  csaf_2.0/test/validator/data/mandatory/OASIS_CSAF_TC-CSAF_2_0-2021-6-1-32-11.json
  csaf_2.0/test/validator/data/mandatory/OASIS_CSAF_TC-CSAF_2_0-2021-6-1-33-11.json
Labels: test

#438 Add new CSAF sample data generated from released Red Hat advisories
  csaf_2.0/examples/csaf/rhsa-2021_5186.json
  csaf_2.0/examples/csaf/rhsa-2021_5217.json
  csaf_2.0/examples/csaf/rhsa-2022_0011.json
Labels: examples

#510 Examples
  .github/workflows/main.yml
  csaf_2.0/examples/csaf/csaf_vex/2022-evd-uc-01-a-001.json
  csaf_2.0/examples/csaf/csaf_vex/2022-evd-uc-01-f-001.json
  csaf_2.0/examples/csaf/csaf_vex/2022-evd-uc-01-na-001.json
  csaf_2.0/examples/csaf/csaf_vex/2022-evd-uc-01-ui-001.json
  csaf_2.0/examples/csaf/csaf_vex/2022-evd-uc-02-na-001.json
  csaf_2.0/examples/csaf/csaf_vex/2022-evd-uc-03-ms-001.json
  csaf_2.0/examples/csaf/csaf_vex/2022-evd-uc-04-001.json
  csaf_2.0/examples/csaf/csaf_vex/2022-evd-uc-05-001.json
  csaf_2.0/examples/csaf/csaf_vex/2022-evd-uc-06-001.json
  csaf_2.0/examples/csaf/csaf_vex/2022-evd-uc-07-001.json
  csaf_2.0/examples/csaf/csaf_vex/2022-evd-uc-08-001.json
  csaf_2.0/examples/csaf/csaf_vex/2022-evd-uc-09-001.json
  csaf_2.0/test/csaf_schema/run_tests.sh
Labels: examples

#511 Tests
  csaf_2.0/test/validator/data/informative/oasis_csaf_tc-csaf_2_0-2021-6-3-06-02.json
  csaf_2.0/test/validator/data/informative/oasis_csaf_tc-csaf_2_0-2021-6-3-06-11.json
  csaf_2.0/test/validator/data/informative/oasis_csaf_tc-csaf_2_0-2021-6-3-07-11.json
  csaf_2.0/test/validator/data/optional/oasis_csaf_tc-csaf_2_0-2021-6-2-01-11.json
  csaf_2.0/test/validator/data/optional/oasis_csaf_tc-csaf_2_0-2021-6-2-08-02.json
  csaf_2.0/test/validator/data/optional/oasis_csaf_tc-csaf_2_0-2021-6-2-09-02.json
  csaf_2.0/test/validator/data/optional/oasis_csaf_tc-csaf_2_0-2021-6-2-11-11.json
Labels: test

#525 Meeting minutes
  meeting_minutes/2022-03-30.md
Labels: meeting_minutes

#527 GitHub Action: CSAF mandatory tests
  .github/workflows/mandatory-tests.yml
  csaf_2.0/examples/csaf/cisco-sa-20180328-smi2.json
Labels: test, examples
