Repository oasis-tcs/csaf, pull requests merged in 2024-11, with the labels that each got.

#822 Seed Editor revision 2024-11-27
  csaf_2.1/prose/edit/src/frontmatter.md
  csaf_2.1/prose/edit/src/revision-history.md
Labels: editorial, csaf 2.1

#819 Editor revision for TC meeting 2024-10-30
  csaf_2.1/json_schema/csaf_json_schema.json
  csaf_2.1/prose/edit/etc/bind.txt
  csaf_2.1/prose/edit/etc/example-global-to-local.json
  csaf_2.1/prose/edit/etc/example-local-to-global.json
  csaf_2.1/prose/edit/etc/section-display-to-label.json
  csaf_2.1/prose/edit/etc/section-label-to-display.json
  csaf_2.1/prose/edit/src/conformance.md
  csaf_2.1/prose/edit/src/design-considerations-01-construction-principles.md
  csaf_2.1/prose/edit/src/design-considerations-02-date-time.md
  csaf_2.1/prose/edit/src/distributing.md
  csaf_2.1/prose/edit/src/frontmatter.md
  csaf_2.1/prose/edit/src/introduction-02-terminology-glossary.md
  csaf_2.1/prose/edit/src/introduction-03-normative-references.md
  csaf_2.1/prose/edit/src/introduction-04-informative-references.md
  csaf_2.1/prose/edit/src/revision-history.md
  csaf_2.1/prose/edit/src/schema-elements-01-defs-03-full-product-name.md
  csaf_2.1/prose/edit/src/schema-elements-01-defs-11-version.md
  csaf_2.1/prose/edit/src/schema-elements-02-props-04-vulnerabilities.md
  csaf_2.1/prose/edit/src/tests-01-mndtr-35-contradicting-remediations.md
  csaf_2.1/prose/edit/src/tests-01-mndtr-36-contradicting-product-status-remediation-combination.md
  csaf_2.1/prose/edit/src/tests-02-optional.md
  csaf_2.1/prose/share/csaf-v2.1-draft.html
  csaf_2.1/prose/share/csaf-v2.1-draft.md
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-35-01.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-35-02.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-35-03.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-35-04.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-35-11.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-35-12.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-35-13.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-35-14.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-36-01.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-36-02.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-36-03.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-36-11.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-36-12.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-36-13.json
  csaf_2.1/test/validator/data/optional/oasis_csaf_tc-csaf_2_1-2024-6-2-10-01.json
  csaf_2.1/test/validator/data/optional/oasis_csaf_tc-csaf_2_1-2024-6-2-27-01.json
  csaf_2.1/test/validator/data/optional/oasis_csaf_tc-csaf_2_1-2024-6-2-27-02.json
  csaf_2.1/test/validator/data/optional/oasis_csaf_tc-csaf_2_1-2024-6-2-27-11.json
  csaf_2.1/test/validator/data/optional/oasis_csaf_tc-csaf_2_1-2024-6-2-27-12.json
  csaf_2.1/test/validator/data/testcases.json
  csaf_2.1/test/validator/testcases_json_schema.json
Labels: editor-revision, csaf 2.1, motion

#834 Mandatory test to check `date-time` format
  csaf_2.1/prose/edit/src/design-considerations-02-date-time.md
  csaf_2.1/prose/edit/src/tests-01-mndtr-37-date-and-time.md
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-37-01.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-37-11.json
  csaf_2.1/test/validator/data/testcases.json
  csaf_2.1/test/validator/run_tests.sh
  csaf_2.1/test/validator/testcases_json_schema.json
Labels: editorial, test, editor-revision, csaf 2.1

#828 Tests
  csaf_2.0/test/validator/testcases_json_schema.json
  csaf_2.1/test/validator/testcases_json_schema.json
Labels: csaf 2.0, test, csaf 2.1

#816 Meeting Minutes for 2024-07-31
  meeting_minutes/2024/2024-07-31.md
Labels: meeting_minutes

#830 `changes.csv`: Clarify quoting
  csaf_2.1/prose/edit/src/distributing.md
  csaf_2.1/prose/edit/src/introduction-03-normative-references.md
Labels: editor-revision, csaf 2.1, motion_passed

#829 ASCII armored OpenPGP
  csaf_2.1/prose/edit/src/distributing.md
Labels: editorial, editor-revision, csaf 2.1, motion_passed
