Repository oasis-tcs/csaf, pull requests merged in 2024-09, with the labels that each got.

#778 Conformance library
  csaf_2.1/prose/edit/src/conformance.md
  csaf_2.1/prose/edit/src/introduction-02-terminology-glossary.md
Labels: editor-revision, csaf 2.1

#760 2024-06-26 meeting minutes
  meeting_minutes/2024/2024-06-26.md
Labels: meeting_minutes, motion

#783 Schema
  csaf_2.1/prose/edit/src/guidance-on-size.md
Labels: editorial, csaf 2.1

#779 CWE: Optional tests
  csaf_2.1/prose/edit/src/tests-02-optional.md
  csaf_2.1/test/validator/data/optional/oasis_csaf_tc-csaf_2_1-2024-6-2-23-01.json
  csaf_2.1/test/validator/data/optional/oasis_csaf_tc-csaf_2_1-2024-6-2-23-02.json
  csaf_2.1/test/validator/data/optional/oasis_csaf_tc-csaf_2_1-2024-6-2-23-03.json
  csaf_2.1/test/validator/data/optional/oasis_csaf_tc-csaf_2_1-2024-6-2-23-11.json
  csaf_2.1/test/validator/data/optional/oasis_csaf_tc-csaf_2_1-2024-6-2-23-12.json
  csaf_2.1/test/validator/data/optional/oasis_csaf_tc-csaf_2_1-2024-6-2-23-13.json
  csaf_2.1/test/validator/data/optional/oasis_csaf_tc-csaf_2_1-2024-6-2-24-01.json
  csaf_2.1/test/validator/data/optional/oasis_csaf_tc-csaf_2_1-2024-6-2-24-02.json
  csaf_2.1/test/validator/data/optional/oasis_csaf_tc-csaf_2_1-2024-6-2-24-03.json
  csaf_2.1/test/validator/data/optional/oasis_csaf_tc-csaf_2_1-2024-6-2-24-04.json
  csaf_2.1/test/validator/data/optional/oasis_csaf_tc-csaf_2_1-2024-6-2-24-11.json
  csaf_2.1/test/validator/data/optional/oasis_csaf_tc-csaf_2_1-2024-6-2-24-12.json
  csaf_2.1/test/validator/data/optional/oasis_csaf_tc-csaf_2_1-2024-6-2-24-13.json
  csaf_2.1/test/validator/data/optional/oasis_csaf_tc-csaf_2_1-2024-6-2-24-14.json
  csaf_2.1/test/validator/data/optional/oasis_csaf_tc-csaf_2_1-2024-6-2-25-01.json
  csaf_2.1/test/validator/data/optional/oasis_csaf_tc-csaf_2_1-2024-6-2-25-02.json
  csaf_2.1/test/validator/data/optional/oasis_csaf_tc-csaf_2_1-2024-6-2-25-03.json
  csaf_2.1/test/validator/data/optional/oasis_csaf_tc-csaf_2_1-2024-6-2-25-04.json
  csaf_2.1/test/validator/data/optional/oasis_csaf_tc-csaf_2_1-2024-6-2-25-11.json
  csaf_2.1/test/validator/data/optional/oasis_csaf_tc-csaf_2_1-2024-6-2-25-12.json
  csaf_2.1/test/validator/data/optional/oasis_csaf_tc-csaf_2_1-2024-6-2-25-13.json
  csaf_2.1/test/validator/data/optional/oasis_csaf_tc-csaf_2_1-2024-6-2-25-14.json
  csaf_2.1/test/validator/data/optional/oasis_csaf_tc-csaf_2_1-2024-6-2-26-01.json
  csaf_2.1/test/validator/data/optional/oasis_csaf_tc-csaf_2_1-2024-6-2-26-02.json
  csaf_2.1/test/validator/data/optional/oasis_csaf_tc-csaf_2_1-2024-6-2-26-03.json
  csaf_2.1/test/validator/data/optional/oasis_csaf_tc-csaf_2_1-2024-6-2-26-11.json
  csaf_2.1/test/validator/data/optional/oasis_csaf_tc-csaf_2_1-2024-6-2-26-12.json
  csaf_2.1/test/validator/data/optional/oasis_csaf_tc-csaf_2_1-2024-6-2-26-13.json
  csaf_2.1/test/validator/data/testcases.json
  csaf_2.1/test/validator/testcases_json_schema.json
Labels: editor-revision, csaf 2.1

#789 CSAF TC Meeting Minutes for 2024-09-25
  meeting_minutes/2024/2024-09-25.md
Labels: meeting_minutes

#786 CSAF TC Meeting Minutes for 2024-08-28
  meeting_minutes/2024/2024-08-28.md
Labels: meeting_minutes

#788 Code block syntax
  csaf_2.1/prose/edit/src/schema-elements-01-defs-03-full-product-name.md
Labels: editorial, csaf 2.1
