Repository oasis-tcs/csaf, pull requests merged in 2025-04, with the labels that each got.

#925 Translation - Product description
  csaf_2.1/language_specific_translation/translations.json
  csaf_2.1/test/language_specific_translation/translations_json_schema.json
Labels: editorial, csaf 2.1

#927 Editorial - Split optional tests
  csaf_2.1/prose/edit/etc/bind.txt
  csaf_2.1/prose/edit/src/tests-02-opt-01-unused-definition-of-product-id.md
  csaf_2.1/prose/edit/src/tests-02-opt-02-missing-remediation.md
  csaf_2.1/prose/edit/src/tests-02-opt-03-missing-metric.md
  csaf_2.1/prose/edit/src/tests-02-opt-04-build-metadata-in-revision-history.md
  csaf_2.1/prose/edit/src/tests-02-opt-05-older-initial-release-date-than-revision-history.md
  csaf_2.1/prose/edit/src/tests-02-opt-06-older-current-release-date-than-Revision.md
  csaf_2.1/prose/edit/src/tests-02-opt-07-missing-date-in-involvements.md
  csaf_2.1/prose/edit/src/tests-02-opt-08-use-of-md5-as-the-only-hash-algorith.md
  csaf_2.1/prose/edit/src/tests-02-opt-09-use-of-sha-1-as-the-only-hash-algorithm.md
  csaf_2.1/prose/edit/src/tests-02-opt-10-missing-tlp-label.md
  csaf_2.1/prose/edit/src/tests-02-opt-11-missing-canonical-url.md
  csaf_2.1/prose/edit/src/tests-02-opt-12-missing-document-language.md
  csaf_2.1/prose/edit/src/tests-02-opt-13-sorting.md
  csaf_2.1/prose/edit/src/tests-02-opt-14-use-of-private-language.md
  csaf_2.1/prose/edit/src/tests-02-opt-15-use-of-default-language.md
  csaf_2.1/prose/edit/src/tests-02-opt-16-missing-product-identification-helper.md
  csaf_2.1/prose/edit/src/tests-02-opt-17-cve-in-field-ids.md
  csaf_2.1/prose/edit/src/tests-02-opt-18-product-version-range-without-vers.md
  csaf_2.1/prose/edit/src/tests-02-opt-19-cvss-for-fixed-products.md
  csaf_2.1/prose/edit/src/tests-02-opt-20-additional-properties.md
  csaf_2.1/prose/edit/src/tests-02-opt-21-same-timestamps-in-revision-history.md
  csaf_2.1/prose/edit/src/tests-02-opt-22-document-tracking-id-in-title.md
  csaf_2.1/prose/edit/src/tests-02-opt-23-usage-of-deprecated-cwe.md
  csaf_2.1/prose/edit/src/tests-02-opt-24-usage-of-non-latest-cwe-version.md
  csaf_2.1/prose/edit/src/tests-02-opt-25-usage-of-cwe-not-allowed-for-vulnerability-mapping.md
  csaf_2.1/prose/edit/src/tests-02-opt-26-usage-of-cwe-allowed-with-review-for-vulnerability-mapping.md
  csaf_2.1/prose/edit/src/tests-02-opt-27-discouraged-product-status-remediation-combination.md
  csaf_2.1/prose/edit/src/tests-02-opt-28-sage-of-max-uuid.md
  csaf_2.1/prose/edit/src/tests-02-opt-29-usage-of-nil-uuid.md
  csaf_2.1/prose/edit/src/tests-02-opt-30-usage-of-sharing-group-on-tlp-clear.md
  csaf_2.1/prose/edit/src/tests-02-opt-31-hardware-and-software.md
  csaf_2.1/prose/edit/src/tests-02-opt-32-use-of-same-product-identification-helper-for-different-products.md
  csaf_2.1/prose/edit/src/tests-02-opt-33-disclosure-date-newer-than-revision.md
  csaf_2.1/prose/edit/src/tests-02-opt-34-usage-of-unregistered-ssvc-decision.md
  csaf_2.1/prose/edit/src/tests-02-opt-35-usage-of-private-ssvc-decision-point.md
  csaf_2.1/prose/edit/src/tests-02-opt-36-usage-of-ssvc-decision-point-namespa.md
  csaf_2.1/prose/edit/src/tests-02-opt-37-usage-of-unknown-ssvc-role.md
  csaf_2.1/prose/edit/src/tests-02-opt-38-usage-of-deprecated-profile.md
  csaf_2.1/prose/edit/src/tests-02-opt-39-profile-tests.md
  csaf_2.1/prose/edit/src/tests-02-opt-40-product-description-without-product.md
  csaf_2.1/prose/edit/src/tests-02-optional.md
Labels: editorial, csaf 2.1

#921 Co-Chairs
  csaf_2.1/prose/edit/src/frontmatter.md
Labels: editor-revision, csaf 2.1

#936 Test 6.3.1 - examples
  csaf_2.1/test/validator/data/informative/oasis_csaf_tc-csaf_2_1-2024-6-3-01-04.json
  csaf_2.1/test/validator/data/informative/oasis_csaf_tc-csaf_2_1-2024-6-3-01-14.json
  csaf_2.1/test/validator/data/testcases.json
Labels: test, csaf 2.1

#937 Test 6.2.25 - correct example
  csaf_2.1/test/validator/data/optional/oasis_csaf_tc-csaf_2_1-2024-6-2-25-14.json
Labels: test, csaf 2.1

#942 Tests - fix SSVC ID in 6.1.47
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-47-15.json
Labels: test, csaf 2.1

#939 Known Issues for CSAF 2.0
  csaf_2.0/known_issues.md
Labels: documentation, csaf 2.0

#943 Tests - 6.1.7 different sources
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-07-05.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-07-18.json
  csaf_2.1/test/validator/data/testcases.json
Labels: test, csaf 2.1

#949 Editorial nits: #922, #926, #935
  .github/workflows/csaf_2.1_translations.yml
  csaf_2.1/prose/edit/src/schema-elements-01-defs-02-branches.md
  csaf_2.1/prose/edit/src/schema-elements-02-props-03-product-tree.md
  csaf_2.1/prose/edit/src/schema-elements-02-props-04-vulnerabilities.md
Labels: editorial, editor-revision, csaf 2.1

#931 Adding WHAT_IS_NEW_IN_CSAF_2_1.md
  csaf_2.1/json_schema/WHAT_IS_NEW_IN_CSAF_2_1.md
Labels: documentation, tc-discussion-needed, csaf 2.1

#957 Clarify content of index.txt
  csaf_2.1/prose/edit/src/distributing.md
Labels: editor-revision, csaf 2.1

#954 Product Status `unknown`
  csaf_2.1/json_schema/csaf_json_schema.json
  csaf_2.1/prose/edit/src/guidance-on-size.md
  csaf_2.1/prose/edit/src/schema-elements-02-props-04-vulnerabilities.md
  csaf_2.1/prose/edit/src/tests-01-mndtr-06-contradicting-product-status.md
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-06-06.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-06-16.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-36-04.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-36-14.json
  csaf_2.1/test/validator/data/optional/oasis_csaf_tc-csaf_2_1-2024-6-2-27-03.json
  csaf_2.1/test/validator/data/optional/oasis_csaf_tc-csaf_2_1-2024-6-2-27-13.json
  csaf_2.1/test/validator/data/testcases.json
Labels: editor-revision, csaf 2.1

#958 Line Breaks
  csaf_2.1/prose/edit/src/conformance.md
  csaf_2.1/prose/edit/src/schema-elements-02-props-02-document.md
Labels: editorial, editor-revision, csaf 2.1

#959 Product definition
  csaf_2.1/prose/edit/src/introduction-02-terminology-glossary.md
Labels: csaf 2.1, motion_passed
