Repository oasis-tcs/csaf, pull requests merged in 2025-07, with the labels that each got.

#1094 GitHub Actions
  .github/workflows/csaf_2.0_mandatory-tests.yml
  .github/workflows/csaf_2.1_mandatory-tests.yml
Labels: csaf 2.0, tool, csaf 2.1

#1097 Merge `master` into CSAF 2.1 CSD01 comment resolution branch
  .editorconfig
  .github/workflows/csaf_2.0_mandatory-tests.yml
  .github/workflows/csaf_2.1_mandatory-tests.yml
  csaf_2.0/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_0-2021-6-1-01-02.json
  csaf_2.0/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_0-2021-6-1-01-11.json
  csaf_2.0/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_0-2021-6-1-01-12.json
  csaf_2.0/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_0-2021-6-1-04-02.json
  csaf_2.0/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_0-2021-6-1-04-11.json
  csaf_2.0/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_0-2021-6-1-04-12.json
  csaf_2.0/test/validator/data/testcases.json
Labels: csaf 2.1, csdpr01-v-2-1-feedback

#1043 Fixed informative block display in 2.3 at the source
  csaf_2.1/prose/edit/src/design-considerations-03-date-time.md
Labels: bug, editorial, motion_passed, non-material, csdpr01-v-2-1-feedback

#1098 Sharing group correction and Distribution improvement
  csaf_2.1/json_schema/csaf.json
  csaf_2.1/prose/edit/src/schema-elements-02-props-02-document.md
Labels: motion_passed, csdpr01-v-2-1-feedback

#1100 Copyright Year Update
  csaf_2.1/prose/edit/src/frontmatter.md
Labels: motion_passed, csdpr01-v-2-1-feedback

#1101 Meeting Minutes 2025-06-25
  meeting_minutes/2025/2025-06-25.md
Labels: meeting_minutes, motion_passed
