Repository oasis-tcs/csaf, pull requests merged in 2025-05, with the labels that each got.

#964 Product version range rules
  csaf_2.1/prose/edit/etc/bind.txt
  csaf_2.1/prose/edit/etc/section-display-to-label.json
  csaf_2.1/prose/edit/etc/section-label-to-display.json
  csaf_2.1/prose/edit/src/tests-01-mndtr-50-product-version-range-rules.md
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-50-01.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-50-02.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-50-03.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-50-04.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-50-05.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-50-11.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-50-12.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-50-13.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-50-14.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-50-15.json
  csaf_2.1/test/validator/data/testcases.json
  csaf_2.1/test/validator/testcases_json_schema.json
Labels: editor-revision, csaf 2.1

#971 Seed Editor Revision 2025-05-28
  csaf_2.1/prose/edit/src/frontmatter.md
  csaf_2.1/prose/edit/src/revision-history.md
Labels: editorial, editor-revision, csaf 2.1

#973 Update Editor Revision 2025-05-28 with latest addtions from Editor Revision 2025-04-30
  csaf_2.1/prose/edit/etc/example-global-to-local.json
  csaf_2.1/prose/edit/etc/example-local-to-global.json
  csaf_2.1/prose/share/csaf-v2.1-draft.html
  csaf_2.1/prose/share/csaf-v2.1-draft.md
Labels: editorial, editor-revision, csaf 2.1

#979 Editorial
  csaf_2.1/prose/edit/src/schema-elements-02-props-04-vulnerabilities.md
Labels: editorial, editor-revision, csaf 2.1

#968 Meeting Minutes for 2025-02-26
  meeting_minutes/2025/2025-02-26.md
Labels: meeting_minutes, motion_passed

#994 CWE white space
  csaf_2.1/json_schema/csaf_json_schema.json
  csaf_2.1/prose/edit/src/conformance.md
  csaf_2.1/prose/edit/src/schema-elements-02-props-04-vulnerabilities.md
Labels: editorial, editor-revision, csaf 2.1

#1001 First known exploitation date
  csaf_2.1/json_schema/csaf.json
  csaf_2.1/prose/edit/etc/bind.txt
  csaf_2.1/prose/edit/etc/section-display-to-label.json
  csaf_2.1/prose/edit/etc/section-label-to-display.json
  csaf_2.1/prose/edit/src/guidance-on-size.md
  csaf_2.1/prose/edit/src/schema-elements-02-props-04-vulnerabilities.md
  csaf_2.1/prose/edit/src/tests-01-mndtr-37-date-and-time.md
  csaf_2.1/prose/edit/src/tests-01-mndtr-49-inconsistent-ssvc-timestamp.md
  csaf_2.1/prose/edit/src/tests-01-mndtr-52-inconsistent-first-known-exploitation-date.md
  csaf_2.1/prose/edit/src/tests-01-mndtr-53-inconsistent-exploitation-date.md
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-37-16.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-37-20.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-52-01.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-52-02.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-52-11.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-52-12.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-53-01.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-53-02.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-53-11.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-53-12.json
  csaf_2.1/test/validator/data/testcases.json
  csaf_2.1/test/validator/testcases_json_schema.json
Labels: editor-revision, csaf 2.1

#1002 Grammar Check
  csaf_2.1/prose/edit/etc/section-display-to-label.json
  csaf_2.1/prose/edit/etc/section-label-to-display.json
  csaf_2.1/prose/edit/src/tests-03-informative.md
  csaf_2.1/test/validator/data/informative/oasis_csaf_tc-csaf_2_1-2024-6-3-16-01.json
  csaf_2.1/test/validator/data/informative/oasis_csaf_tc-csaf_2_1-2024-6-3-16-11.json
  csaf_2.1/test/validator/data/testcases.json
  csaf_2.1/test/validator/testcases_json_schema.json
Labels: editor-revision, csaf 2.1

#1006 Editorial
  csaf_2.1/prose/edit/src/tests-03-informative.md
Labels: editorial, editor-revision, csaf 2.1

#1010 Editorial
  csaf_2.1/prose/edit/etc/section-display-to-label.json
  csaf_2.1/prose/edit/etc/section-label-to-display.json
Labels: editorial, editor-revision, csaf 2.1

#977 Meeting Minutes 2025-03-26
  meeting_minutes/2025/2025-03-26.md
Labels: meeting_minutes, motion_passed

#1009 Inconsistent PIH
  csaf_2.1/prose/edit/etc/bind.txt
  csaf_2.1/prose/edit/etc/section-display-to-label.json
  csaf_2.1/prose/edit/etc/section-label-to-display.json
  csaf_2.1/prose/edit/src/tests-02-rcmmndd-42-inconsistent-product-identification-helper.md
  csaf_2.1/test/validator/data/recommended/oasis_csaf_tc-csaf_2_1-2024-6-2-42-01.json
  csaf_2.1/test/validator/data/recommended/oasis_csaf_tc-csaf_2_1-2024-6-2-42-02.json
  csaf_2.1/test/validator/data/recommended/oasis_csaf_tc-csaf_2_1-2024-6-2-42-11.json
  csaf_2.1/test/validator/data/recommended/oasis_csaf_tc-csaf_2_1-2024-6-2-42-12.json
  csaf_2.1/test/validator/data/testcases.json
  csaf_2.1/test/validator/testcases_json_schema.json
Labels: editor-revision, csaf 2.1

#1013 ROLIE (IANA requirement)
  csaf_2.1/prose/edit/src/distributing-01-requirements.md
Labels: editor-revision, csaf 2.1, motion_passed

#1014 Test 6.2.32
  csaf_2.1/prose/edit/src/tests-02-rcmmndd-32-use-of-same-product-identification-helper-for-different-products.md
Labels: editorial, editor-revision, csaf 2.1

#1011 Meeting Minutes 2025-04-30
  meeting_minutes/2025/2025-04-30.md
Labels: meeting_minutes, motion_passed

#991 Draft for section 7.4 on transition of 2.0 and 2.1 in distribution
  csaf_2.1/examples/provider-metadata/example-02-maintained-until-provider-metadata.json
  csaf_2.1/examples/provider-metadata/example-03-maintained-from-provider-metadata.json
  csaf_2.1/json_schema/aggregator.json
  csaf_2.1/json_schema/provider.json
  csaf_2.1/prose/edit/etc/bind.txt
  csaf_2.1/prose/edit/src/conformance.md
  csaf_2.1/prose/edit/src/distributing-01-requirements.md
  csaf_2.1/prose/edit/src/distributing-04-transition-20-21.md
Labels: email, editor-revision, csaf 2.1, motion_passed

#1019 Meeting minutes for 2025-05-28
  meeting_minutes/2025/2025-05-28.md
Labels: meeting_minutes, motion

#1018 Editor tool enhancements
  .editorconfig
  csaf_2.1/prose/edit/Makefile
  csaf_2.1/prose/edit/bin/invert_eg_labels.py
  csaf_2.1/prose/edit/bin/invert_sec_labels.py
  csaf_2.1/prose/edit/bin/toccata.py
  csaf_2.1/prose/edit/bin/volatile.py
  csaf_2.1/prose/edit/etc/example-local-to-global.json
  csaf_2.1/prose/edit/etc/section-label-to-display.json
  csaf_2.1/prose/edit/makefile
Labels: editorial
