Repository oasis-tcs/csaf, pull requests merged in 2025-08, with the labels that each got.

#1114 Workaround to avoid greedy mermaid filterwhen not needed
  csaf_2.1/prose/edit/makefile
Labels: tool

#1137 Meeting Minutes from 2025-07-30
  meeting_minutes/2025/2025-07-30.md
Labels: meeting_minutes

#1130 Comment Resolution CSD01PR: #1126
  csaf_2.1/comment_resolution/log_from_csd01pr.md
Labels: csaf 2.1, motion_passed, csdpr01-v-2-1-feedback

#1136 Comment Resolution CSD01PR: #1084
  csaf_2.1/prose/edit/etc/example-global-to-local.json
  csaf_2.1/prose/edit/etc/example-local-to-global.json
  csaf_2.1/prose/edit/src/distributing-01-requirements.md
Labels: csaf 2.1, motion_passed, csdpr01-v-2-1-feedback

#1135 Comment Resolution CSD01PR: #1083
  csaf_2.1/prose/edit/src/distributing-01-requirements.md
  csaf_2.1/prose/edit/src/schema-elements-01-defs-03-full-product-name.md
Labels: csaf 2.1, motion_passed, csdpr01-v-2-1-feedback

#1140 Comment Resolution CSD01PR: #1046
  csaf_2.1/prose/edit/src/design-considerations-01-construction-principles.md
Labels: csaf 2.1, motion_passed, csdpr01-v-2-1-feedback

#1141 Known Issues for CSAF 2.0: dead VERS link
  csaf_2.0/known_issues.md
Labels: csaf 2.0, motion_passed, known-issue

#1143 VERS link
  csaf_2.1/prose/edit/src/introduction-04-informative-references.md
Labels: editorial, csaf 2.1, motion_passed

#1146 Comment Resolution CSD01PR: #1122
  csaf_2.1/prose/edit/src/tests-01-mndtr-06-contradicting-product-status.md
Labels: csaf 2.1, motion_passed, csdpr01-v-2-1-feedback

#1155 Comment Resolution CSD01PR: #1062
  csaf_2.1/prose/edit/src/acknowledgements.md
Labels: csaf 2.1, motion_passed, csdpr01-v-2-1-feedback

#1154 Comment Resolution CSD01PR: #1053
  csaf_2.1/prose/edit/src/tests-03-informative.md
  csaf_2.1/test/validator/data/informative/oasis_csaf_tc-csaf_2_1-2024-6-3-12-05.json
  csaf_2.1/test/validator/data/informative/oasis_csaf_tc-csaf_2_1-2024-6-3-12-16.json
  csaf_2.1/test/validator/data/testcases.json
Labels: csaf 2.1, motion_passed, csdpr01-v-2-1-feedback

#1158 Comment Resolution CSD01PR: #1088
  csaf_2.1/prose/edit/etc/section-display-to-label.json
  csaf_2.1/prose/edit/etc/section-label-to-display.json
  csaf_2.1/prose/edit/src/distributing-03-retrieving-rules.md
Labels: csaf 2.1, motion_passed, csdpr01-v-2-1-feedback

#1161 Added a reality memento to safety considerations
  csaf_2.1/prose/edit/src/safety-security-and-data-protection.md
Labels: enhancement, csaf 2.1

#1153 Comment Resolution CSD01PR: #1059
  csaf_2.1/json_schema/csaf.json
  csaf_2.1/prose/edit/src/conformance.md
  csaf_2.1/prose/edit/src/profiles.md
  csaf_2.1/prose/edit/src/schema-elements-01-defs-01-acknowledgements.md
  csaf_2.1/prose/edit/src/schema-elements-01-defs-02-branches.md
  csaf_2.1/prose/edit/src/schema-elements-01-defs-03-full-product-name.md
  csaf_2.1/prose/edit/src/schema-elements-01-defs-05-notes.md
  csaf_2.1/prose/edit/src/schema-elements-01-defs-06-product-group-id.md
  csaf_2.1/prose/edit/src/schema-elements-01-defs-07-product-groups.md
  csaf_2.1/prose/edit/src/schema-elements-01-defs-08-product-id.md
  csaf_2.1/prose/edit/src/schema-elements-01-defs-09-products.md
  csaf_2.1/prose/edit/src/schema-elements-01-defs-10-references.md
  csaf_2.1/prose/edit/src/schema-elements-01-defs-11-version.md
  csaf_2.1/prose/edit/src/schema-elements-02-props-02-document.md
  csaf_2.1/prose/edit/src/schema-elements-02-props-03-product-tree.md
  csaf_2.1/prose/edit/src/schema-elements-02-props-04-vulnerabilities.md
Labels: csaf 2.1, motion_passed, csdpr01-v-2-1-feedback

#1162 Comment Resolution CSD01PR: #1086
  csaf_2.1/json_schema/csaf.json
  csaf_2.1/prose/edit/etc/bind.txt
  csaf_2.1/prose/edit/etc/example-global-to-local.json
  csaf_2.1/prose/edit/etc/example-local-to-global.json
  csaf_2.1/prose/edit/etc/section-display-to-label.json
  csaf_2.1/prose/edit/etc/section-label-to-display.json
  csaf_2.1/prose/edit/src/guidance-on-size.md
  csaf_2.1/prose/edit/src/schema-elements-02-props-04-vulnerabilities.md
  csaf_2.1/prose/edit/src/tests-01-mndtr-56-use-of-cvss-and-qualitative-severity-rating.md
  csaf_2.1/prose/edit/src/tests-02-rcmmndd-47-use-of-qualitative-severity-rating-by-issuing-party.md
  csaf_2.1/prose/edit/src/tests-03-informative.md
  csaf_2.1/test/validator/data/informative/oasis_csaf_tc-csaf_2_1-2024-6-3-18-01.json
  csaf_2.1/test/validator/data/informative/oasis_csaf_tc-csaf_2_1-2024-6-3-18-11.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-56-01.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-56-02.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-56-03.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-56-04.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-56-05.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-56-11.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-56-12.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-56-13.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-56-14.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-56-15.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-56-16.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-56-17.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-56-18.json
  csaf_2.1/test/validator/data/recommended/oasis_csaf_tc-csaf_2_1-2024-6-2-47-01.json
  csaf_2.1/test/validator/data/recommended/oasis_csaf_tc-csaf_2_1-2024-6-2-47-02.json
  csaf_2.1/test/validator/data/recommended/oasis_csaf_tc-csaf_2_1-2024-6-2-47-11.json
  csaf_2.1/test/validator/data/recommended/oasis_csaf_tc-csaf_2_1-2024-6-2-47-12.json
  csaf_2.1/test/validator/data/testcases.json
  csaf_2.1/test/validator/testcases_json_schema.json
Labels: csaf 2.1, motion_passed, csdpr01-v-2-1-feedback

#1167 Comment Resolution CSD01PR: #1069
  csaf_2.1/prose/edit/src/introduction-04-informative-references.md
  csaf_2.1/prose/edit/src/tests-02-rcmmndd-25-usage-of-cwe-not-allowed-for-vulnerability-mapping.md
  csaf_2.1/prose/edit/src/tests-02-rcmmndd-26-usage-of-cwe-allowed-with-review-for-vulnerability-mapping.md
Labels: csaf 2.1, csdpr01-v-2-1-feedback
