Repository oasis-tcs/csaf, pull requests merged in 2025-06, with the labels that each got.

#1020 Meeting minutes for 2025-05-28
  meeting_minutes/2025/2025-05-28.md
Labels: meeting_minutes, motion_passed

#1040 Updated editor config to cover lowercase makefile
  .editorconfig
Labels: bug, editorial, tool

#1074 GitHub Action
  .github/workflows/csaf_2.1_mandatory-tests.yml
Labels: bug, test, tool
