Repository oasis-tcs/csaf, pull requests merged in 2025-03, with the labels that each got.

#869 Meeting minutes 2024-12-18
  meeting_minutes/2024/2024-12-18.md
Labels: oasis_tc_process, meeting_minutes, motion_passed

#871 SSVC
  csaf_2.1/json_schema/csaf_json_schema.json
  csaf_2.1/prose/edit/etc/bind.txt
  csaf_2.1/prose/edit/src/conformance.md
  csaf_2.1/prose/edit/src/design-considerations-01-construction-principles.md
  csaf_2.1/prose/edit/src/guidance-on-size.md
  csaf_2.1/prose/edit/src/introduction-04-informative-references.md
  csaf_2.1/prose/edit/src/schema-elements-02-props-04-vulnerabilities.md
  csaf_2.1/prose/edit/src/tests-01-mndtr-45-inconsistent-disclosure-date.md
  csaf_2.1/prose/edit/src/tests-01-mndtr-46-invalid-ssvc.md
  csaf_2.1/prose/edit/src/tests-01-mndtr-47-inconsistent-ssvc-id.md
  csaf_2.1/prose/edit/src/tests-01-mndtr-48-ssvc-decision-points.md
  csaf_2.1/prose/edit/src/tests-01-mndtr-49-inconsistent-ssvc-timestamp.md
  csaf_2.1/prose/edit/src/tests-02-optional.md
  csaf_2.1/prose/edit/src/tests-03-informative.md
  csaf_2.1/referenced_schema/certcc/Decision_Point-1-0-1.schema.json
  csaf_2.1/referenced_schema/certcc/Decision_Point_Value_Selection-1-0-1.schema.json
  csaf_2.1/test/aggregator_schema/run_tests.sh
  csaf_2.1/test/csaf_schema/run_tests.sh
  csaf_2.1/test/provider_schema/run_tests.sh
  csaf_2.1/test/validator/data/informative/oasis_csaf_tc-csaf_2_1-2024-6-3-13-01.json
  csaf_2.1/test/validator/data/informative/oasis_csaf_tc-csaf_2_1-2024-6-3-13-11.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-46-01.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-46-02.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-46-11.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-46-12.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-47-01.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-47-02.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-47-03.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-47-04.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-47-11.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-47-12.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-47-13.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-47-14.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-47-15.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-48-01.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-48-02.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-48-03.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-48-04.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-48-05.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-48-06.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-48-11.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-48-12.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-48-13.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-48-14.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-48-15.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-48-16.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-49-01.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-49-02.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-49-03.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-49-11.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-49-12.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-49-13.json
  csaf_2.1/test/validator/data/optional/oasis_csaf_tc-csaf_2_1-2024-6-2-34-01.json
  csaf_2.1/test/validator/data/optional/oasis_csaf_tc-csaf_2_1-2024-6-2-34-11.json
  csaf_2.1/test/validator/data/optional/oasis_csaf_tc-csaf_2_1-2024-6-2-35-01.json
  csaf_2.1/test/validator/data/optional/oasis_csaf_tc-csaf_2_1-2024-6-2-35-11.json
  csaf_2.1/test/validator/data/testcases.json
  csaf_2.1/test/validator/run_tests.sh
  csaf_2.1/test/validator/testcases_json_schema.json
Labels: editor-revision, csaf 2.1

#890 Seed Editor Revision 2025-03-26
  csaf_2.1/prose/edit/src/frontmatter.md
  csaf_2.1/prose/edit/src/revision-history.md
Labels: editorial, editor-revision, csaf 2.1

#889 Tests
  csaf_2.1/test/validator/data/testcases.json
Labels: test, csaf 2.1

#893 Tests 6.3.8
  csaf_2.0/test/validator/data/informative/oasis_csaf_tc-csaf_2_0-2021-6-3-08-02.json
  csaf_2.0/test/validator/data/informative/oasis_csaf_tc-csaf_2_0-2021-6-3-08-12.json
  csaf_2.0/test/validator/data/testcases.json
  csaf_2.1/test/validator/data/informative/oasis_csaf_tc-csaf_2_1-2024-6-3-08-02.json
  csaf_2.1/test/validator/data/informative/oasis_csaf_tc-csaf_2_1-2024-6-3-08-12.json
  csaf_2.1/test/validator/data/testcases.json
Labels: csaf 2.0, test, csaf 2.1

#898 Language
  csaf_2.1/prose/edit/src/conformance.md
  csaf_2.1/prose/edit/src/tests-01-mndtr-12-language.md
  csaf_2.1/prose/edit/src/tests-02-optional.md
Labels: editorial, csaf 2.1

#900 Known Issues for CSAF 2.0
  csaf_2.0/known_issues.md
Labels: csaf 2.0

#878 Meeting Minutes for 2025-01-29
  meeting_minutes/2025/2025-01-29.md
Labels: oasis_tc_process, meeting_minutes, motion

#907 Sharing Groups
  csaf_2.1/prose/edit/src/schema-elements-02-props-02-document.md
Labels: editorial, csaf 2.1

#903 Add `Access-Control-Allow-Origin` requirement
  csaf_2.1/prose/edit/src/distributing.md
  csaf_2.1/prose/edit/src/introduction-04-informative-references.md
  csaf_2.1/prose/edit/src/safety-security-and-data-protection.md
Labels: editor-revision, csaf 2.1

#901 Profile: Withdrawn
  .github/workflows/csaf_2.1_translations.yml
  csaf_2.1/language_specific_translation/translations.json
  csaf_2.1/prose/edit/src/conformance.md
  csaf_2.1/prose/edit/src/introduction-02-terminology-glossary.md
  csaf_2.1/prose/edit/src/profiles.md
  csaf_2.1/prose/edit/src/tests-01-mndtr-26-prohibited-document-category-name.md
  csaf_2.1/prose/edit/src/tests-01-mndtr-27-profile-tests.md
  csaf_2.1/prose/edit/src/tests-02-optional.md
  csaf_2.1/test/language_specific_translation/run_Tests.sh
  csaf_2.1/test/language_specific_translation/translations_json_schema.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-26-03.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-27-03-02.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-27-14-01.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-27-14-11.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-27-15-01.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-27-15-11.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-27-16-01.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-27-16-11.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-27-16-12.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-27-17-01.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-27-17-02.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-27-17-03.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-27-17-04.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-27-17-05.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-27-17-11.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-27-17-12.json
  csaf_2.1/test/validator/data/mandatory/oasis_csaf_tc-csaf_2_1-2024-6-1-27-17-13.json
  csaf_2.1/test/validator/data/optional/oasis_csaf_tc-csaf_2_1-2024-6-2-37-02-01.json
  csaf_2.1/test/validator/data/optional/oasis_csaf_tc-csaf_2_1-2024-6-2-37-02-11.json
  csaf_2.1/test/validator/data/testcases.json
  csaf_2.1/test/validator/testcases_json_schema.json
Labels: editor-revision, csaf 2.1

#902 CVSS v4.0 - conversion rule
  csaf_2.1/prose/edit/src/conformance.md
Labels: csaf 2.1, motion_passed

#923 Model and Serial Number
  csaf_2.1/json_schema/csaf_json_schema.json
  csaf_2.1/prose/edit/src/schema-elements-01-defs-03-full-product-name.md
Labels: editor-revision, csaf 2.1

#924 Editorial for Editor revision 2025-03-26
  csaf_2.1/prose/edit/src/conformance.md
  csaf_2.1/prose/edit/src/schema-elements-02-props-04-vulnerabilities.md
Labels: editor-revision, csaf 2.1
